html{
	text-align: center;
	margin-top: 10em;
	padding: 0px;
	background: green;
}
#header{
	font-family: sans-serif;
	color: brown;
	transition: 3s;
}
#header:hover {
	font-family: sans-serif;
	color: blue;
	cursor: pointer;
	transition: 3s;
}
#ser{
	border-bottom-color: brown;
	border-left-color: brown;
	border-top-color: brown;
	border-right-color: brown;
	height: 2em;
	width: 9em;
	background: brown;
	color: brown;
	text-align: center;
	transition: 3s;
}
#ser:hover {
	border-bottom-color: green;
	border-left-color: yellow;
	border-top-color: violet;
	border-right-color: blue;
	height: 2em;
	width: 9em;
	background: #e3e3e3;
	color: blue;
	text-align: center;
	transition: 3s;
}
#sub{
	background-color: brown;
	color: brown;
	border-color: brown;
	transition: 3s;	
}
#sub:hover {
	background-color: #e3e3e3;
	color: green;
	border-color: white;
	transition: 3s;
}
#que{
	color: brown;
    transition: 3s;
}
#que:hover {
	color: white;
	transition: 3s;
	cursor: pointer;
}
#wrong{
	background: brown;
	border-radius: 35px	;
	height: 145px;
}
body{
	
}